@model Employee
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Create" asp-controller="Employee" data-ajax="true">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Catagory</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div> @*display all the validation at a time*@
        <div class="mb-3">
            <label asp-for="EmployeeName"></label>
            <input asp-for="EmployeeName" class="form-control" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span> @*display specific the validation at a time*@
        </div>
        <div class="mb-3">
            <label asp-for="Employeedesignation"></label>
            <input asp-for="Employeedesignation" class="form-control" />
            <span asp-validation-for="Employeedesignation" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeDepartment"></label>
            <input asp-for="EmployeeDepartment" class="form-control" />
            <span asp-validation-for="EmployeeDepartment" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Employeeid" class="form-control" />
        <button class="btn btn-primary" type="submit" style="width:150px;">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back</a>
    </div>
</form>

