################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/t_p_project
